# scala w/ sbt
*.class
.cache/
.history/
.lib/
dist/*
target/
src_managed/
project/boot/
project/plugins/project/

#eclipse
/.metadata
.cache-main
.settings
.cache-tests

# vim
tags
.*.swp
.*.swo
*~

bin/
